header {
  background-color: white;

  border-bottom: 1px #cccccc solid;
}

header div {
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  height: 70px;
  width: 100%;
  margin-left: 20px;
}
